.tarefa{
  width: 90%;
  height: 10vh;
  display: flex;
  align-items: center;
}
  
.tarefa > p{
  width: 65%;
  display: flex;
  align-items: center;
  height: 5vh;
  overflow: hidden;
  text-overflow: ellipsis;
}
