.App{
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 4%;
  border-radius: 10px;
  background-color: #004643;
}

.App > h1{
  font-size: 50px;
  margin-top: 2%;
}

.line{
  width: 90%;
  height: 1px;
  background-color: #001e1d;
  margin: 2%;
}

.tarefas{
  width: 90%;
}

.w100{
  width: 90%;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
